.input {
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 270px;
  transition: border-color 0.3s; 
}

.input:focus {
  border-color: #1f74ce; 
  outline: none; 
}
